/*  【平台样式文件】/【主题样式】  */

/*  亮色主题样式  */
:root {
  /*  主色  */
  --color-primary: #009EFF; /* 主色：color="primary" | text-primary | bg-primary */
  --el-color-primary: var(--color-primary) !important; /* 更改 Element 主色 */
  // Element 主题色 #409EFF，Quasar 主题色 #1976D2，轩宇主题色 #009EFF

  /*  文字颜色  */
  --color-text: theme('colors.neutral.700'); /* 默认文字颜色：text-default */
  --color-text-title: theme('colors.neutral.800'); /* 标题文字颜色：text-title */
  --color-text-second: theme('colors.neutral.500'); /* 次要文字颜色：text-secondary */
  --color-text-third: theme('colors.neutral.400'); /* 禁用文字颜色：text-third */

  /*  背景颜色  */
  --color-body-bg: #FFFFFF; /* 页面背景色：bg-body-bg */
  --color-panel-bg: #F2F3F5; /* 栏目背景色：bg-panel-bg */

  /*  标题栏颜色  */
  --color-header-text: #FFFFFF; /* 标题栏文字颜色：text-header */
  --color-header-bg: #1976D2; /* 标题栏背景色：from-header-bg */
  --color-header-bg2: theme('colors.teal.500'); /* 标题栏背景色2（渐变）：to-header-bg2 */

  /*  菜单栏颜色  */
  --color-menu-bg: var(--color-panel-bg); /* 菜单栏背景色：bg-menu-bg */
  --menu-active: #009EFF; /* 菜单栏选中文字颜色：text-menu-active */
  --menu-active-bg-color: #e6f6ff; /* 菜单栏选中背景色：bg-menu-active-bg */
  --menu-active-border-color: #409EFF; /* 菜单栏选中边框色：border-menu-active-border */

  /*  表格颜色  */
  --table-title-color: #4E5969; /* 表格标题行文字颜色：text-title */
  --table-title-bg-color: #F5F7FA; /* 表格标题栏背景色：bg-table-title-bg */
  --table-even-bg-color: #FBFCFD; /* 表格偶数行背景色：even:bg-table-even-bg */
  --table-hover-bg-color: #F2FAFF; /* 表格行悬浮颜色：hover:bg-table-hover-bg */

  /*  线条颜色  */
  --color-line: #DCDFE6; /* 线条颜色：border-line */

  /*  辅助颜色  */
  --q-accent: theme('colors.yellow.400'); /* 强调色：color="accent" | text-accent | bg-accent */
  --accent-color: theme('colors.yellow.400'); /* 强调色：color="accent" | text-accent | bg-accent */
  --q-secondary: theme('colors.neutral.500'); /* 次要色：color="secondary" | text-secondary | bg-secondary */
  --q-positive: theme('colors.emerald.500'); /* 成功色：color="success" | text-success | bg-success */
  --q-negative: theme('colors.red.500'); /* 错误色：color="error" | text-error | bg-error */
  --q-info: theme('colors.cyan.500'); /* 信息色：color="info" | text-info | bg-info */
  --q-warning: theme('colors.amber.500'); /* 警告色：color="warning" | text-warning | bg-warning */
}


/*  暗色主题样式  */
.dark {
  /*  文字颜色  */
  --color-text: theme('colors.neutral.100'); /* 默认文字颜色：text-default */
  --title-color: #FFFFFF; /* 标题文字颜色：text-title */
  --second-color: theme('colors.neutral.400'); /* 次要文字颜色：text-secondary */
  --third-color: theme('colors.neutral.500'); /* 禁用文字颜色：text-third */

  /*  背景颜色  */
  --color-body-bg: theme('colors.neutral.900'); /* 页面背景色：bg-body-bg */
  --color-panel-bg: theme('colors.neutral.800'); /* 菜单栏背景色：bg-panel-bg */

  /*  标题栏颜色：与页面背景色相同，不可自定义  */
  --color-header-bg: var(--body-bg-color) !important; /* 标题栏背景色：from-header-bg */
  --color-header-bg2: var(--body-bg-color) !important; /* 标题栏背景色2（渐变）：to-header-bg2 */

  /*  菜单栏颜色  */
  --menu-active-color: #FFFFFF; /* 菜单栏选中文字颜色：text-menu-active */
  --menu-active-bg-color: #3485D6; /* 菜单栏选中背景色：bg-menu-active-bg */
  /*--menu-active-border-color: #007CC9; !* 菜单栏选中边框色：border-menu-active-border *!*/

  /*  表格颜色  */
  --table-title-color: theme('colors.neutral.200'); /* 表格标题行文字颜色：text-title */
  --table-title-bg-color: theme('colors.neutral.700'); /* 表格标题栏背景色：bg-table-title-bg */
  --table-even-bg-color: theme('colors.neutral.800'); /* 表格偶数行背景色：even:bg-table-even-bg */
  --table-hover-bg-color: theme('colors.neutral.600'); /* 表格行悬浮颜色：hover:bg-table-hover-bg */

  /*  线条颜色  */
  --color-line: #4C4D4F; /* 线条颜色：border-line */

  /*  辅助颜色  */
  --q-accent: theme('colors.yellow.500'); /* 强调色：color="accent" | text-accent | bg-accent */
  --accent-color: theme('colors.yellow.500'); /* 强调色：color="accent" | text-accent | bg-accent */
}
