/*  【数字质量系统】/【项目自定义主题样式】  */

/*  亮色主题样式  */
:root {
  /*  主色  */
  --color-primary: #009EFF; /* 主色：color="primary" | text-primary | bg-primary */
  --color-primary-rgb: 00 158 255; /* 主色 rgb 格式，用于 Tailwindcss 生成主色不透明度 */
  // Element 主题色 #409EFF 64 158 255，Quasar 主题色 #1976D2，轩宇主题色 #009EFF 00 158 255

  /*  标题栏颜色  */
  --color-header-bg: #1976D2; /* 标题栏背景色：from-header-bg */
  --color-header-bg2: #1976D2; /* 标题栏背景色2（渐变）：to-header-bg2 */
}


/*  暗色主题样式  */
.dark {
}
